:root {
    --pink-color: #7D22BE;
    --white-color: #FFFFFF;
}

.grid {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

li {
    padding-left: 1em;
    position: relative;
    list-style-type: none;
}

li:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 0.5em;
    height: 0.5em;
    background-color: var(--pink-color);
}

strong {
    font-weight: 400;
    color: var(--pink-color);
}

.heading {
    font-weight: 500;
    margin-bottom: 0.7em;
}